.container{
    display: grid;
    grid-template-columns: repeat(41fr);
    grid-template-rows: repeat(5,400px);
    gap: 1em;
}
div{
    width: 300px;
    height: 300px;
    border: 15px double blue;
}
div h2{
    text-transform: uppercase;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 52px;
    padding: 1em, 2em;
    color: transparent; 
    background: radial-gradient(blue 10%, yellow 10%, yellow 30%, green 30%);
    background-clip: text;  
}
div h2:hover{
    background: black;
    color: aliceblue;
}
